/* Universal Styles */

* {
    border: 1px solid red;
}

html {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

.main-content {
    position: relative;
    top: 4rem; /* To offset for fixed header. */
}

.center {
    text-align: center;
}

.button {
    border-radius: 1px;
    background-color: #a0abba;
    color: #992a2a;
    padding: 8px;
    transition: all 1.5s ease 0.25s;
    display: block;
}

.button:hover {
    background-color: #992a2a;
}

.image-container {
    overflow: hidden;
}

.container {
    max-width: 1024px;
    margin: auto;
    line-height: 1.5;
    /*border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;*/
}

h1 {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 1rem;

}

h2 {
    font-size: 1.41rem;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 24px;
    color: #00225b;
}

h4 {
    line-height: 1.3;
    margin-bottom: .5rem;
}

p {
    font-size: 0.7rem;
    line-height: 1rem;
}

a {
    transition: all 1s linear 0.5s;
}

a:hover {
    color: lightgray;
}

a:active {
    color: lightgray;
}


@media only screen and (max-width: 480px) {    
    .module {
    flex-wrap: wrap;
    }
}


/* Header */

header {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 2;
}

.desktop-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
}

.mobile-navigation {
    display: none;
}

.navigation-logo {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.menu-items ul li {
    display: inline;
    margin-right: 16px;
    font-size: 0.8rem;
    font-weight: 500;
}


@media only screen and (max-width: 480px){
.desktop-navigation {
    display: none;
    }
     
.mobile-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    }
       
.mobile-navigation a {
    margin: 8px 16px 0;
    }    
}


/* Banner Section */
#banner-section {
    background-color: #002255;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
}

.banner-image {
    width: 60%;
    height: auto;
    margin: 32px 24px;
}

.banner-image img {
    width: 100%;
    height: auto;
}

.banner-content {
    width: 40%;
}

.banner-innercontent {
    width: 16rem;
}

.banner-content .button {
    text-align: center;
    max-width: 15rem;
    margin: 1rem 0 32px;
}


@media only screen and (max-width: 480px){
    #banner-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    }
    
    .banner-image {
    width: 100%;
    height: auto;
    margin: 0;
    }
    
    .banner-innercontent {
    width: 100%;
    }
    
    .banner-content {
    width: 100%;
    margin: 0 32px 0 16px;
    }
    
    .banner-content .button {
    max-width: 100%;
    }
}


/* Info & Thesis Sections */
#info-section {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.info-image {
    width: 60%;
    height: auto;
    margin: 32px 24px;
}

.info-image img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.info-image video {
    width: 100%;
    height: auto;
}

.info-image h2 {
    margin-top: 24px;
}

.info-content {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
}

.mobile-image {
    display: none;
}

.module-content {
    width: 65%;
}

.module-image img {
    width: 100%;
    height: auto;
    transition: all 1s ease 0.5s;
}

.module {
    display: flex;
    border: 1px solid lightgray;
    align-items: center;
    transition: all 1s ease 0.5s;
}

.module-image {
    width: 35%;
    height: 75%;
    margin: 16px;
    transition: all 1s ease 0.5s;
    overflow: hidden;
}

.module:hover {
    background-color: #a0abba;
    color: white;
}

.module:hover .module-image img {
    opacity: 0.5;
    transform: scale(1.1);
}

.module-grey {
    background-color: #992a2a;
    color: white;
}

.module-margin-top {
    margin-top: 30px;
}

.module-content a {
    color: #00225b;
    font-size: 0.7rem;
    text-transform: uppercase;
}

.caption {
    margin-top: 1rem;
    font-size: 0.5rem;
    font-style: italic;
}


@media only screen and (max-width: 480px) {
      
    .desktop-info {
    display: none;
    }
    
    .info-image h2{
    display: none;    
    }
        
    .info-image p{
    display: none;    
    } 
    
    .info-image {
    width: 100%;
    height: auto;
    }
    
    .info-image.desktop-image {
    display: none;
    }
    
    .info-content {
    width: 100%;
    }
    
    .module-image {
    width: 100%;
    height: auto;
    }
    
    .desktop-image {
    display: none;
    }
    
    .mobile-image {
    display: inline-block;
    }
       
    .module-content {
    margin: 0 0 16px 16px;
    }
}


/* Courses Section */
#courses-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #a0abba;
    padding-bottom: 32px;
    margin-top: 32px;
}

.courses-head {
    margin: 36px 0 -16px;
    width: 100%;
    text-align: center;
}

.courses-module {
    background-color: white;
    width: 25%;
    margin: 16px;
    transition: all 1.5s ease 0.25s;
    overflow: hidden;
}

.courses-image img {
    width: 100%;
    height: auto;
}

.courses-image {
    transition: all 1.5s ease 0.25s;
    //overflow: hidden;
}

.courses-module:hover {
    background-color: #a0abba;
    color: white;
    box-shadow:inset 0px 0px 0px 1px white;
}

.courses-module:hover .courses-image {
    opacity: 0.5;
    transform: scale(1.1);
}

.courses-head h2 {
    margin-bottom: 32px;
}

.courses h6 {
    color: #992a2a;
}

.courses-module-content {
    padding: 16px;
}

.courses-module-content h6 {
    padding: 8px 0;
    font-size: 0.8rem;
}


@media only screen and (max-width: 480px) {
    #courses-section {
    background-color: white;
    flex-direction: column;
    margin-right: 32px;
    }
    
    .courses-module {
    background-color: lightgray;
    min-width: 100%;
    margin: 4px 16px;
    }
    
    .courses-image {
    display: none;
    }
    
    .courses-module-content h6{
    display: none;  
    }
      
    .courses-module-content p{
      display: none;  
    }
    
    
    .courses-head h2 {
    margin-bottom: 48px;
    }
}


/* Footer */
.copyright{
    display: flex;
    justify-content: space-between;
    margin: 16px;
}

.copyright-rule {
    border-top: 1px solid lightgray;
    margin: 32px 0 16px;
}

footer ul li {
    display: inline;
    margin-left: 1rem;
}

footer ul li a{
    font-size: 0.7rem;
}